#ITWBauernhof{
    background: green;

}
.CchooseTW a {
    margin: 2.5%;
    font-size: 26px;
    width: 500px;
    text-underline-style: none;
}
#ITWBauernhof:hover {
    background: greenyellow;
}

.CimgMiddle{
    width: 120px;
    height: 100px;
    background-color: lightgray;
}
#IPrev, #IImgArrow {
    position: absolute;
    width: 140px;

    font-size: 36px;
    text-align: center;
}
#IImgArrow{
    margin-top: 50px;
    height: 160px;
}
#ISpeaker{
    margin-top: 120px;

}
.CimgAnimal {
    width: 480px;
    height: 350px;
}

.CchooseAnimal > *{
    align-items: center;
    float: left;
    background-color: white;
    border: none;
}
#Iinfos {

    border: 1px solid black;
    border-left: 10px solid darkblue;
    background-color: lightblue;

    position: absolute;
    align-content: center;
    margin-left: 120px;
    margin-top: 50px;
    width: 800px;
    min-height: 150px;
    max-height: 300px;

    text-align: center;
    align-items: center;
    font-size: 24px;
    vertical-align: center;

    display: flex;
    justify-content: center;
    visibility: hidden;
}