#ITWBauernhof{
    background: green;

}
.CchooseTW a {
    margin: 2.5%;
    font-size: 26px;
    width: 500px;
    text-underline-style: none;
}
#ITWBauernhof:hover {
    background: greenyellow;
}

.CimgSpeaker {
    width: 60px;
    height: 60px;
    margin-bottom: 80px;
    background-color: lightgray;
}
.CimgAnimal {
    width: 480px;
    height: 250px;
}

.CchooseAnimal {
    width: 1280px;
    align-items: center;
}